body {
  margin: 0;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
}

body:before {
  content: '';
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -1;
  background-color: rgba(0,0,0, 0.9);
 }



